body{
	margin: 0;
	padding: 0;
	font-family: Comfortaa;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px; 
	box-sizing: border-box;
	transition: .3s;

}

nav.black{
	background-color: #1b2024;
	height: 100px;
	padding: 10px 100px;

}

nav .logo{
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	transition: .3s;
}

nav.black .logo{
	color: #e6bfab;
}

nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;

}

nav ul li a{
	line-height: 80px;
	color: #380007;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .3s;

}

nav.black ul li a{
	color: #e6bfab;
}

nav ul li a:focus{
	outline: none;
}

nav ul li a.active{
	background: #1b2024;
	color: #fff;
	border-radius: 6px;
}

section.sec1{
	width: 100%;
	height: 100vh;
	background: url(bg.jpg);
	background-size: cover;
	background-position: center;

}

.content{
	margin-top: 80px;
}


.content p{
	width: 900px;
	margin: 30px auto;
	text-align: justify;
	font-size: 12px;
	line-height: 30px;
	font-family: Open Sans;
}

.container {
    position: center;

}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
	font-family: Open Sans;
  background-color: #380007;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}



